.film-list {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(3, 33%);
    align-items: start;
    padding-bottom: 15px;
}

@media (max-width: 1250px) {
    .film-list {
        width: 90%;
        grid-template-columns: repeat(2, 50%);
    }
}

@media (max-width: 860px) {
    .film-list {
        grid-template-columns: repeat(1, 100%);
    }
}