.film-card {
    display: flex;
    justify-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
    margin-bottom: 40px;
}

.film-card:hover {
    box-shadow: 3px 3px 5px 5px rgb(0, 0, 0, 0.75);
}