body {
    padding: 0px;
    margin: 0px;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-image: url(/background.jpg);
}

.home input {
    background: rgb(224, 226, 209);
}

.search {
    width: 50%;
    height: 30px;
    border-radius: 20px;
    padding: 5px;
    border: 1px solid black;
}